@import "../queryMixins";

.login-signup {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  .container{
    //padding-top: 15%;
    position: relative;
  }
  &__close-icon{
    position: absolute;
    font-size: 24px;
    top: 10px;
    left: 5px;
    color: #687F9E;
  }
  &__logo {
    margin-top: 15%;
    text-align: center;
    font-size: 32px;
    color: #687F9E;
  }

  &__sub-header {
    text-align: center;
    font-size: 16px;
    color: #687F9E;
  }

}
.login-signup__signup-form{
  margin-top: 20px;
}
.signup-form {
  &__row-1 {
    display: flex;
    justify-content: center;
  }

  &__first-name {
    width: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__first-name-input {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  &__last-name {
    width: 50%;
    margin-bottom: 5px;

  }

  &__last-name-input {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  &__row-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__email {
    width: 100%;
    margin-bottom: 5px;

  }

  &__email-input {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  &__password {
    width: 100%;
    margin-bottom: 5px;

  }

  &__password-input {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  &__password-confirmation {
    width: 100%;
    margin-bottom: 5px;

  }

  &__password-confirmation-input {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  &__row-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__location {
    width: 100%;
    margin-bottom: 5px;

  }

  &__location-input {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }
  &__submit{
    text-align: right;
    font-size: 20px;
    color: #687F9E;
    &:hover{
      cursor: grab;
    }
  }
  &__login-option{
    text-align: center;
  }
  &__login-option-link{
    color: red;
    &:hover{
      cursor: grab;
    }
  }
}
.login-signup__login-form{
  margin-top: 20px;
}
.login-form{
  &__email{
    width: 100%;
    margin-bottom: 5px;
  }
  &__email-input{
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }
  &__password{
    width: 100%;
    margin-bottom: 5px;
  }
  &__password-input{
    width: 100%;
    height: 30px;
    border: 1px solid rgba(104,127,158,.3);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }
  &__submit{
    text-align: right;
    font-size: 20px;
    color: #687F9E;
    &:hover{
      cursor: grab;
    }
  }
  &__signup-option{
    text-align: center;
  }
  &__signup-option-link{
    color: red;
    &:hover{
      cursor: grab;
    }
  }

}
@include responsive($tablet-landscape){
.login-signup__overlay{
  position: absolute;
  top: 0;
  min-width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.1);
}
.login-signup{
  top: 25vh;
  border: 1px solid #687F9E;
  //top: 20px;
  left: 25%;
  width: 50%;
  height: 500px;
  border-radius: 10px;
  .container{
    //width: 30%;
  }
  &__logo{
    margin-top: 20%;
  }
  &__close-icon{
    display: none;
  }
}
}