@import '../queryMixins';

.post-item {
  position: absolute;
  top: 0;
  z-index: 10000;
  background-color: #687F9E;
  height: 100vh;
  width: 100%;

  .container {
    position: relative;
    margin-top: 25%;
  }

  &__close {
    position: absolute;
    top: 60px;
    left: 10px;
  }

  &__header {
    color: white;
    text-align: center;
  }

  &__sub-header {
    color: white;
    text-align: center;
  }

  &__form-row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__form-title {
    margin-top: 28px;
    width: 100%;
    margin-bottom: 7px;
    height: 30px;
  }

  &__form-title-label {
    color: white;
    padding-bottom: 5px;
  }

  &__form-title-input {
    width: 100%;
    border: none;
    border-radius: 3px;
    border: 1px solid #687F9E;
    height: inherit;
    font-size: 18px;
    padding-left: 5px;
  }

  &__form-row-2 {
    display: flex;
    justify-content: center;
  }

  &__form-category {
    margin-top: 28px;
    margin-right: 5px;
    height: 30px;
  }

  &__form-category-label {
    color: white;
    padding-bottom: 5px;
  }

  &__form-category-input {
    height: inherit;
    font-size: 18px;
  }

  &__form-image {
    margin-top: 28px;

    width: 100%;
    height: 30px;
    margin-bottom: 7px;

  }

  &__form-image-label {
    color: white;
    padding-bottom: 5px;
  }

  &__form-image-input {
    width: 100%;
    height: inherit;
    border: none;
    border-radius: 3px;
    border: 1px solid #687F9E;
    font-size: 18px;
    padding-left: 5px;
  }

  &__form-row-3 {
    display: flex;
    justify-content: center;
  }

  &__form-items-wanted {
    margin-top: 28px;

    width: 100%;
    height: 30px;
    margin-bottom: 7px;
    margin-right: 5px;

  }

  &__form-items-wanted-label {
    color: white;
    padding-bottom: 5px;
  }

  &__form-items-wanted-input {
    width: 100%;
    height: inherit;
    border: none;
    border-radius: 3px;
    border: 1px solid #687F9E;
    font-size: 18px;
    padding-left: 5px;
  }

  &__form-price {
    margin-top: 28px;

    width: 65%;
    height: 30px;
    margin-bottom: 7px;

  }

  &__form-price-label {
    color: white;
    padding-bottom: 5px;
  }

  &__form-price-input {
    width: 100%;
    height: inherit;
    border: none;
    border-radius: 3px;
    border: 1px solid #687F9E;
    font-size: 18px;
    padding-left: 5px;
  }

  &__form-row-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-description {
    margin-top: 28px;

    width: 100%;
    //border: none;
    //border: 1px solid #687F9E;
    margin-bottom: 7px;

  }

  &__form-description-label {
    color: white;
    padding-bottom: 5px;
  }

  &__form-description-input {
    padding-top: 10px;
    resize: none;
    font-size: 18px;
    padding-left: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    border: 1px solid #687F9E;
  }

  &__form-submit {
    border: 1px solid #687F9E;
    border-radius: 10px;
    color: #687F9E;
    padding: 5px;
    width: 30%;
    text-align: center;
    background-color: white;

    &:hover {


      cursor: grab;
      transform: scale(1.1);
      transition: scale 200ms;
    }
  }
}

@include responsive($tablet-landscape) {
  .post-item__overlay {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .08;
    z-index: 10000;
  }
  .post-item {
    border-radius: 10px;
    top: 10%;
    left: 25vw;
    height: auto;
    width: 50%;
    padding-bottom: 15px;

    .container {
      margin-top: 5%;
      max-width: 95%;
    }

    &__close {
      display: none;
    }

  }

}